{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

    <section class="section section-bg" id="call-to-action" style="background-image: url(static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Легко<em>проверим </em></h2>
                        <p>Здесь вы можете оформить свой заказ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Фамилия:</label>
                                     <input type="text">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Имя:</label>
                                     <input type="text">
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Email:</label>
                                     <input type="text">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Телефон:</label>
                                     <input type="text">
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Адрес:</label>
                                     <input type="text">
                                </div>
                                
                           </div>
                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Город:</label>
                                     <input type="text">
                                </div>
                                
                                
                           </div>
                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Zip код:</label>
                                     <input type="text">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Страна:</label>
                                     <input type="text">
                                </div>
                           </div>

                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Спосод оплаты</label>
                                     
                                     <select>
                                          <option value="">-- Выбрать --</option>
                                          <option value="bank">Через банк</option>
                                          <option value="cash">Наличкой</option>
                                          <option value="paypal">Эл.карт</option>
                                     </select>
                                </div>

                                
                            </div>  
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <div class="float-left">
                                            <a href="{% url 'shop:categories'%}">Назад</a>
                                        </div>

                                        <div class="float-right">
                                            <a href="{%url 'shop:index' %}">Закончить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>
                </div>
            
        {% for item in cart %}
            <tr>
                <td class="product-thumbnail"><a href="#"><img src="#" alt="product img" /></a></td>
                <td class="product-name"><a href="#">{{item.name}}</a></td>
                <td class="product-price"><span class="amount">{{item.price}}</span></td>
                <td class="product-quantity">
                    <form action="{% url 'cart:cart_add' item.product.id %}" method="post">
                        {% csrf_token %}                                                        
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override }}
                        <input type="submit" id="update-product-bt" value="Update">                                                        
                    </form>
                </td>
                <td class="product-subtotal">{{item.total_price}}</td>
                <td class="product-remove"><a href="{% url 'cart:delete_from_cart' product_id=item.product.id %}">X</a></td>
            </tr> 
        {% endfor %}     
                <div class="col-md-4">
                    <ul class="list-group list-group-no-border">
                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Итого к оплате</strong>
                            </div>

                            <div class="cart_subtotal">
                                <h5 class="text-right">{{cart.get_total_price}}</h5>
                            </div>
                         </div>
                      </li>

                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Еще</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right">$ 0.00</h5>
                            </div>
                         </div>
                      </li>

                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Tax</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right">{{cart.get_total_price}}</h5>
                            </div>
                         </div>
                      </li>

                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <h4><strong>Total</strong></h4>
                            </div>

                            <div class="col-6">
                                <h4 class="text-right">{{cart.get_total_price}}</h4>
                            </div>
                         </div>
                      </li>

                      <li class="list-group-item" style="margin:0 0 -1px">
                         </div>
                      </li>
                    </ul>

                    <br>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
  </body>
</html>
{% endblock %}   

  